POSTGRES_USER=kaeu
POSTGRES_PASSWORD=pass
POSTGRES_DB=n8n

POSTGRES_NON_ROOT_USER=kaeu
POSTGRES_NON_ROOT_PASSWORD=pass

WEBHOOK_URL=https://example.com/n8n/
# Tailscale auth key to use for the Tailscale VPN connection
TS_AUTHKEY=sdasdasdasdasdasdasdasdasd
TS_EXTRA_ARGS=--hostname=asdsdsadasd-n8n

# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=example.com

# The subdomain to serve from
SUBDOMAIN=n8n

# The above example serve n8n at: https://n8n.example.com

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=America/Campo_Grande

# The email address to use for the TLS/SSL certificate creation
# SSL_EMAIL=user@example.com